 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;;
 }
 :root{
    --verde: #717744;
    --humo: #eff1ed;
    --marron: #bbb193;
 }
 body{
    /* max-width: 480px; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
 }

/*Estilos de Barra de Navegacion*/

 .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, var(--humo), #fcfffa) ;
    padding: 0 15px;
    height: 50px;
 }
 .flor-blume{
    width: 40px;
 }
 .pestañas{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7em;
 }
 .pestañas > li > a{
    color: var(--marron);
    font-weight: 500;
 }
 .pestañas > li > a:hover{
    color: var(--verde);
    font-size: 1em;
    font-weight: bold;
    transition: all ease-in 0.3s;
 }
 .material-icons{
    color: var(--marron);
 }
.material-icons:hover{
    color: var(--verde);
}
.iconCarrito{
    width: max-content;
}

/*Seccion central*/
.section-landing{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 3fr);
    background-color: #fcfffa;
    gap: 15px;
}
.deco, .textil, .arqui, .interiores{
    display: grid;
    place-items: center;
}
h3 > a{
    color: var(--verde);
    font-size: 1.5em;
    background-color: rgba(239, 241, 237, 0.5);
    border-radius: 10px;
    padding: 2px 5px;
}

.deco{
    grid-row: 1 / 7;
    grid-column: 1 / 4;
    background: /* linear-gradient(rgba(239, 241, 237, 0.3), rgba(239, 241, 237, 0.3)), */
     url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jarrones-tonos-tierra-1604668041.jpg?crop=0.563xw:1.00xh;0.311xw,0&resize=640:*);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 8px;
}
.textil{
    grid-row: 1 / 7;
    grid-column: 4 / 7;
    background: /* linear-gradient(rgba(239, 241, 237, 0.3), rgba(239, 241, 237, 0.3)), */
    url(https://iglutiendas.com/img/cms/TEXTIL%20HOGAR.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 8px;
}
.arqui{
    grid-row: 7 / 13;
    grid-column: 4 / 7;
    background: /* linear-gradient(rgba(239, 241, 237, 0.3), rgba(239, 241, 237, 0.3)), */
    url(https://i.pinimg.com/550x/8e/5f/df/8e5fdf1c38aa709c6327260cb4335244.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
}
.interiores{
    grid-row: 7 / 13;
    grid-column: 1 / 4;
    background: /* linear-gradient(rgba(239, 241, 237, 0.3), rgba(239, 241, 237, 0.3)), */
    url(https://imanquehue.com/content/uploads/sala-de-estar.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 8px;
}

/*Estilos del Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    background-color: #a37145;
    font-size: 8px;
    height: 80px;
}
.ubicacion{
    display: flex;
    flex-direction: column;
    place-items: start;
    color: var(--humo);
    gap: 5px;
}
.locacion, .phone{
    display: flex;
    align-items:center;
    gap: 5px;
    margin: 2px 0px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.redes > li > a >img{
    width: 15px;
}

/*Estilos de las pestañas "NOSOTROS" "ARQUI" "INTERIORES" "CONTACTO"*/
.fondoBlume{
    background: linear-gradient(rgba(239, 241, 237, 0.5), rgba(239, 241, 237, 0.5)),
    url(../imagenes/asdsd_Mesa\ de\ trabajo\ 1.png);
    background-size: 85px;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;  
}
.textoCategoria{
    text-align: center;
    width: 25em;
    height: 10em;
    color: var(--verde);
    background: linear-gradient(rgba(239, 241, 237, 0.5), rgba(239, 241, 237, 0.5));
    border-radius: 10px;
    box-shadow: 1px 3px 6px var(--verde);
    padding: 10px;
    font-size: 20px;
}
.imgenCategoria > img{
    width: 40em;
    border-radius: 10px;
    box-shadow: 1px 3px 6px var(--verde);
}
.imagenInteriores > img{
    width: 40em;
    border-radius: 10px;
    box-shadow: 1px 3px 6px var(--verde);
}

/*Estilos para las paginas "ARTICULOS" "TEXTIL" "DECO" y "CARRITO"*/
header{
    width: 100%;
    text-align: center;
    background-color: var(--humo);
    color: var(--verde);
    height: fit-content;
}
.seccionCatalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.catalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 5px;
}
.catalogo > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 3px var(--humo);
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13em;
    color: var(--verde);
    gap: 3px;
}
.cards li img{
    width: 100%;
}
.cards li p{
    font-size: 13px;
    opacity: 0.6;
}
.agregar{
    background-color: var(--verde);
    color: var(--humo);
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    margin: 10px 1px;
    text-align: center;
    cursor: pointer;
}
.agregar:hover{
    background-color: #b67e4c;
    color: white;
}

/*Estilos del "CARRITO"*/

.articulosCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header{
    width: 100%;
}
.carrito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10px;
    gap: 15px;
}
.carrito > div{
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0px 2px 3px #bbb193;
    margin: 0px 10px;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    background-color: #f4f5f2;
   
}
.cardsCarrito{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    color: var(--verde);
    gap: 10px;
}
.cardsCarrito li img{
    width: 5em;
}
.cardsCarrito li p{
    font-size: 12px;
    opacity: 0.6;
    padding: 3px;
}
.eliminar{
    background-color: var(--verde);
    color: var(--humo);
    width: max-content;
    padding: 1px 5px;
    border-radius: 15px;
    margin: 10px 1px;
    cursor: pointer;
}
.eliminar:hover{
    background-color: #b67e4c;
    color: white;
}
.comprar{
    background-color: var(--verde);
    color: var(--humo);
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    
}
.comprar p{
    font-size: 12px;
}
.comprar:hover{
    background-color: #b67e4c;
    color: white;
}

/*Estilo del Formulario de Contacto*/

.formulario{
    width: 500px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background: rgba(239, 241, 237, 0.8);
    border-radius: 10px;
    margin-top: -100px;
    padding: 5px 20px;
    box-shadow: 0px 6px 20px rgba(91, 92, 90, 0.3);
    
}
.formulario h2{
    color: var(--verde);
}
hr{
    width: 90%;
    border: 1px solid var(--verde);
}
.datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input, textarea{
    border-radius: 5px;
    border-color: var(--humo);
    padding: 5px; 
    outline: none;
}
input::placeholder, textarea::placeholder{
    color: var(--marron);
}
.enviar{
    background: var(--verde);
    color: var(--humo);
    width: 100px;
    font-size: 20px;
    margin: 20px;
}

/*Media Query*/
@media (max-width: 600px){
    .carrito{
        margin-bottom: 20px;
    }
    .carrito > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .cardsCarrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        color: var(--verde);
        gap: 10px;
    }
    .formulario{
        width: 90%;
    }
    .datos{
        width: 100%;
    }
    .imgenCategoria > img{
        width: 23em;
        border-radius: 10px;
        box-shadow: 1px 3px 6px var(--verde);
    }
    .imagenInteriores > img{
        width: 25em;
        border-radius: 10px;
        box-shadow: 1px 3px 6px var(--verde);
    }
    .fondoBlume{
        background: linear-gradient(rgba(239, 241, 237, 0.5), rgba(239, 241, 237, 0.5)),
        url(../imagenes/asdsd_Mesa\ de\ trabajo\ 1.png);
        background-size: 85px;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;  
    }
    .textoCategoria{
        width: 23em;
        font-size: 15px;
    }
}

